*{
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
  }
  .all{
    overflow: hidden;
  }
  .fir{
    width: 100%;
    height: 95vh;
  }
  .dropdown{
    font-weight: 800;
  }
  .navbar{
    padding: 20px 70px 20px 60px;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 100;
  }
  .nav-item {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    color: rgb(4, 4, 26);
    text-decoration: none;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .navbar .nav-item::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0px;
      left: 0;
      background-color: orange;
      transform: scaleX(0);
      transition: transform 0.3s ease;
  } 
  .navbar .nav-link:hover {
      color: orange; 
  }
  .nav-item:hover::after {
    transform: scaleX(1);
  }
  .navbar-brand img{
    width: 100px;
  }
  .button {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    background-color: orange;
    transition: all 0.2s ease;
  }
  
  .button:active {
    transform: scale(0.96);
  }
  .button:before,
  .button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  .button:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
  }
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  .button:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
  }
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  .bas{
    padding-top: 100px;
  }
  .back img{
    width: 100%;
    height: 30px;
    margin-bottom: -10px;
  }
  .swiper-button-next,.swiper-button-prev{
    width: 60px;
    background-color: gray;
    height: 60px;
    border-radius: 50%;
    color: white !important;
  }
  .easy {
    background-image: url(https://html.xpressbuddy.com/kinter/assets/img/about/about.png);
    height: 70vh;
    background-color: gainsboro;
    background-repeat: no-repeat;
    background-position:right;
    padding:160px 60px 0px 80px;
  }
  .easy h5{
    width: 650px;
    letter-spacing: 1px;
    margin-bottom: 3 0px;
  }
  .easy h3{
    font-size: 45px;
    letter-spacing: 1px;
    word-spacing: 5px;
  }
  .easy h1{
    font-size: 60px;
    font-weight: 800;
    font-family: "Rubik Scribble", system-ui;
    letter-spacing: 2px;
    word-spacing: 5px;
  }
  .alo{
    display: flex;
    width: 120px;
    gap: 10px;
  }
  .alo h5{
    font-size: 22px;
  }
  .alo h5 a{
    text-decoration: none;
    color: white;
  }
  .bow{
    margin-top: -20px;
  }
  .sec{
    width: 100%;
    padding:20px 60px 20px 80px;
} 
.girl{
    padding-top: 70px;
}
.girl img{
    width: 100%;
    border-radius: 10px;
}
.care h3{
    font-size: 40px;
    font-weight: 800;
}
.eni{
    width: 22px;
    height: 22px;
    border: none;
    font-weight: 800;
    font-size: 17px;
    background-color: orange;
    border-radius: 50%;
}
.loor h5{
    font-weight: 800;
}
.dat{
    padding: 0px 0px 0px 40px;
}
.sho{
    margin-top: 40px;
}
.sha{
    margin-top: -20px;
}
.thir{
    width: 100%;
    background-color: orange;
    padding:20px 60px 20px 80px;
  }
  .fies{
    padding:40px 20px 30px 80px;
    color: white;
  }
  .ove{
    margin-top: 38px;
  }
  .hol i{
    font-size: 50px;
  }
  .hol h3{
    font-weight: 800;
    font-size: 40px;
  }
  .four{
    width: 100%;   
    padding:50px 60px 40px 80px;
  }
  .button a{
    text-decoration: none
  }
  video {
    width: 100%;
    height: 500px; 
    border-radius: 10px;
    object-fit: cover;
}
footer{
  padding:30px 60px 20px 80px;
  background-color: black;
  color: white;
}
.raw h5 span{
  color: orange;
}
.raw i{
  font-size: 35px;
}
.button a{
  color: white;
}
@media (max-width:724px) {
  .navbar{
    padding: 20px 10px 20px 10px;
  }
  .easy {
    background-image:linear-gradient(to right, rgba(0,0,0,0.6)50%, rgba(0,0,0,0.6)50%), url(https://html.xpressbuddy.com/kinter/assets/img/about/about.png);
    height: 50vh;
    padding:160px 20px 0px 20px;
  }
  .fir{
    height: 50vh;
  }
  .easy h1{
    font-size: 30px;
  }
  .sec{
    padding:180px 20px 0px 20px
  }
  .thir,footer{
    padding:30px 20px 0px 20px
  }
  .raw,.gaa{
    flex-direction: column;
  }
  .gaa{
    gap: 20px !important;
  }
  .raw{
    align-items: flex-start !important;
    justify-content: flex-start !important;
  }
  .gaa i{
    font-size: 30px;
  }
  .eni{
    width: 30px;
    height: 25px;
  }
  .fies{
    padding:40px 20px 50px 20px;
    color: white;
  }
  .four{
    padding:40px 20px 50px 20px;
    color: white;
  }
}